﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Курсовой проект";
}

<div class="text-center">
    <h1 class="display-4">Курсовой проект</h1>
    <p>@ViewData["TimeStamp"]</p>
    <form method="post">
        <table>
            <tr>
                <td colspan="3"><input type="text" name="key" placeholder="Ключ" value="скорпион" required autocomplete="off" /></td>
                <td></td>
            </tr>
            <tr>
                <td>
                    <h3>Исходный текст</h3>
                    <input name="fileOpen" type="file" accept=".docx" /><input type="submit" value="Добавить" asp-page-handler="OpenFile" />
                </td>
                <td></td>
                <td>
                    <h3>Результат преобразования</h3>
                </td>
            </tr>
            <tr>
                <td><textarea name="resultDec" placeholder="Исходный текст">@Model.FirstTextarea</textarea></td>
                <td>
                    <p><input type="submit" value="Поменять" asp-page-handler="Radio" /></p>
                    <p><input type="radio" value="0" name="eventHandling" checked />Зашифровать</p>
                    <p><input type="radio" value="1" name="eventHandling" />Расшифровать</p>
                    <p><input type="submit" value="Выполнить" asp-page-handler="Start" /></p>
                </td>
                <td><textarea name="resultEnc" placeholder="Результат преобразования">@Model.SecondTextarea</textarea></td>
            </tr>
        </table>
    </form>
</div>
